#container {
    background-color: var(--dark-bg);
    height: 180px;
    border-radius: var(--border-radius);
    margin: 0 auto 20px auto;
    /* 중앙 정렬을 위해 좌우 마진 auto로 설정 */
    transition: transform 0.3s ease;
}

#container:hover {
    transform: scale(var(--scale-hover));
}

#inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

/* 입력창 스타일 */
#playlistUrl {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #f8f8f8;
    border-radius: var(--border-radius-small);
    background-color: var(--dark-bg);
    color: var(--text-color);
    font-size: 16px;
    font-family: 'Freesentation-9Black', Arial, sans-serif;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 2vh;
}

#playlistUrl:focus {
    border-color: #6a11cb;
    /* 그라데이션 색상 */
    box-shadow: 0 0 8px rgba(106, 17, 203, 0.5);
    /* 버튼 색상과 유사한 그림자 */
}

#playlistUrl::placeholder {
    color: var(--text-muted);
}

#playlistUrl {
    color: var(--text-color);
    /* 입력창 글자색을 흰색으로 설정 */
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* 화면이 좁아질 때 요소들이 줄바꿈되도록 설정 */
    justify-content: center;
    /* 중앙 정렬 */
    align-items: center;
    /* 수직 중앙 정렬 */
    transition: transform 1s ease;
    width: 100%;
    margin: 0 auto;
    /* 중앙 정렬 */
    gap: 20px;
    /* 요소 사이 간격 */
}